/*:root{
    color-fondo=var
}
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    border: 1px solid gray !important;
    margin-top: 5px;
    margin-bottom: 0px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
th{
    margin-top: 0 !important;
    background-color: rgb(152, 151, 151) !important;
    letter-spacing: 2px !important;
}
td{
    padding: 2px !important;
    height: 1.5rem !important;
}