:root{
    --color-fuerte:rgb(243, 105, 147);
    --color-claro:rgb(247, 206, 212);
    --sombra-rgba:rgba(0,0,0,0.5);
    --color-botones:rgb(202, 113, 140);
    --sombra-texto:2px 2px 2px rgba(0,0,0,0.5);
    --sombra-caja:5px 5px 5px rgba(0,0,0,0.5);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color:var(--color-claro);
    font-family: 'Roboto Slab', serif;
}
#mensaje{
    
    color: red;
}
.container p{
    text-align: center;
}
.ocultar{
    display: none;
}

header{
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: var(--color-claro);
}

.navbar-brand {
    display: inline-block;
    
}
.navbar-1 a{
    background: transparent;
}

.navbar-2 a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px ;
    padding: 5px;
    border: 1px solid white;
    background-color: var(--color-fuerte);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    transition: all 0.5s ease ;
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
}
.navbar-2 a:hover {
   transform: scale(1.075);
   background-color: white;
   color:rgb(243, 105, 147);
   -webkit-transform: scale(1.075);
   -moz-transform: scale(1.075);
   -ms-transform: scale(1.075);
   -o-transform: scale(1.075);
}
.link-titulo{
    color: white;
    font-weight: 600;
    width: 30px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.link-titulo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.titulo{
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
section{
    background-color: rgb(243, 105, 147);
    color: white;
    align-items: center;
}
section a{
    text-align: center;
   
}
#field-check{
    display: flex;
    gap:7px;
}
label{
    margin-right: 3px;
}

.formulario{
   padding: 5px 0px;
}
.boton-buscar{
    background: transparent;
    border:none;
    color: white;
    width: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#buscar{
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
#fila-cards{
    display: flex;
    flex-wrap: wrap;

}
#contenedor-card{
    width: 250px;
}


#principal{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


.card, .card1 {
    width: 250px;
    height: 400px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 5px;
    background-color: white;
}
.card-img-top{
    width:100%;
    height: 250px;
}
.imagen{
    height: 150px;
}
.card img, .card1 img{
    transition: all 1.55s ease;
    -webkit-transition: all 1.55s ease;
    -moz-transition: all 1.55s ease;
    -ms-transition: all 1.55s ease;
    -o-transition: all 1.55s ease;
}
.card:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.img-top-card {
    width: 100%;

}
.card-titulo{
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    letter-spacing: 2px;
}
.texto{
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    
}
.pie{
    display: flex;
    display: inline;
    justify-content:space-between;
    text-align: end;
    position: absolute;
    bottom: 0;
}
.pie_texto{
    display: inline-block;
    line-height: 100%;
    padding: 5px;
}
.btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 40px;
    text-align: center;
    line-height: 100%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-left: 70px;
    background-color:var(--color-botones);
    border: solid 1px white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 10px !important;
}

.btn:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    background-color: var(--color-fuerte);
    border: solid 1px white;
}
.footer-general{
    background-color: lightpink;
    border-top: 3px solid rgb(251, 123, 123);
    margin-top: 20px;
    padding: 10px 5px;
}
.redes img{
    width: 50px;
}
.cohort{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
   @media screen and (max-width:485px){
    nav{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    
    .navbar-1{
            display: flex;
            justify-content: center;
    }

  .navbar-2{
        display: flex !important;
        flex-direction: column !important;
        gap: 5px;
        justify-content: center !important;
    }
  
    .formulario{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

    }
    .field-check{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
   }
/**************************************************************/
   @media screen and (max-width:1023px){
   
    .field-buscar{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
    }
   }
   /***********************************************************/
   @media screen and (max-width:768){
    nav{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .navbar-1{
        display: flex !important;
        justify-content: center !important;
    }
    .navbar-2{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
   }
 
    
    


 